<div class={{rowStyle}}>
    <div class="{{cellStyle}} {{sortIcon}}" id="shopHeaderName">
        {{headers.name}}
    </div>
    <div class="{{cellStyle}}">
        {{headers.img}}
    </div>
    <div class="{{cellStyle}} {{sortIcon}}" id="shopHeaderDescription">
        {{headers.description}}
    </div>
    <div class="{{cellStyle}} {{sortIcon}}" id="shopHeaderLimit">
        {{headers.limit}}
    </div>
    <div class="{{cellStyle}} {{sortIcon}}" id="shopHeaderPrice">
        {{headers.currency}} {{headers.price}}
    </div>
    <div class="{{cellStyle}}">
        {{headers.addToCartButton}}
    </div>
</div>