<div class={{rowStyle}}>
    <div class="{{cellStyle}}">
        {{headers.name}}
    </div>
    <div class="{{cellStyle}}">
        {{headers.img}}
    </div>
    <div class="{{cellStyle}}">
        {{headers.description}}
    </div>
    <div class="{{cellStyle}}">
        {{headers.quantity}}
    </div>
    <div class="{{cellStyle}}">
        {{headers.price}}
    </div>
    <div class="{{cellStyle}}">
        {{headers.removeFromCart}}
    </div>
</div>