<div class="{{rowStyle}}" id="{{data.id}}">
    <div class="{{cellStyle}}">
        {{data.name}}
    </div>
    <img src="{{data.image}}" class="{{cellStyle}} thumbnail-image"/>
    <div class="{{cellStyle}}">
        {{data.description}}
    </div>
    <div class="{{cellStyle}}">
        {{data.limit}}
    </div>
    <div class="{{cellStyle}}">
        {{checkDiscount data}}
    </div>
    <div class="{{cellStyle}}">
        <button class="addToCartButton">
            Add to Cart
        </button>
    </div>
</div>