<div class="{{rowStyle}}" id="{{this.id}}">
    <div class="{{cellStyle}}">
        {{this.name}}
    </div>
    <img src="{{this.image}}" class="{{cellStyle}} thumbnail-image"/>
    <div class="{{cellStyle}}">
        {{this.description}}
    </div>
    <div class="{{cellStyle}}">
        {{this.limit}}
    </div>
    <div class="{{cellStyle}}">
        {{this.currency}}{{this.price}}
    </div>
    <div class="{{cellStyle}}">
        <button class="addToCartButton">
            Add to Cart
        </button>
    </div>
</div>