<div class={{rowStyle}}>
    <div class="{{cellStyle}} {{sortIcon}}">
        {{headers.name}}
    </div>
    <div class="{{cellStyle}} {{sortIcon}}">
        {{headers.img}}
    </div>
    <div class="{{cellStyle}} {{sortIcon}}">
        {{headers.description}}
    </div>
    <div class="{{cellStyle}} {{sortIcon}}">
        {{headers.limit}}
    </div>
    <div class="{{cellStyle}} {{sortIcon}}">
        {{headers.currency}} {{headers.price}}
    </div>
    <div class="{{cellStyle}} {{sortIcon}}">
        {{headers.addToCartButton}}
    </div>
</div>